html, body {
  height: 100%;
  background-color: #ddeefc;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;

}

.container {
  background-color: white;
  width: 50%;
  height: 50%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

/* .container > div {
  width: 100%;
} */

.cardContainer, .cardContainerflipped {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.card {
  height: 130%;
  width: 75%;
  margin-bottom: 140px;
  background-image: url("http://media.pennlive.com/food/photo/guy-fieri-d8c9539ebf1d3851.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all .5s linear;
}

.cardContainerflipped .card {
  transform: rotateY(180deg);
}

.cardContainerflipped > .card > .front-card {
  /* opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility .75s linear;   */
}

/* .back-card {
  width: 100%;
  height: 100%; 
  z-index: 2;
  transform: rotateY(180deg)
} */

.card-side {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
 }

.info {
  font-size: 12px;
  color: #A9A9A9;
  font-weight:bold
}

.front-card {
  display: grid;
  grid-template-areas: 
    "card-chip . . card-type"
    "card-number card-number card-number card-number"
    "card-holder card-holder card-holder card-expires";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33% 33% 33%;
  height: 100%;
  color: white;

}


.chip {
  margin-top: 10px;
  width: 80%;
}

.type {
  width: 100%;
  float: right;
}

.number {
  width: 100%;
  line-height: 50px;
}

.holder {
  padding-top: 5px;
  width: 100%;
}

.expires {
  width: 100%;
  padding-top: 5px;
}

#card-chip {
  grid-area: card-chip;
  border:0;
}

#card-type {
  grid-area: card-type;
  border: 0;
}

#card-number {
  grid-area: card-number;
  border:0;
}

#card-holder {
  grid-area: card-holder;
  border:0;
}

#card-expires {
  grid-area: card-expires;
  border:0;
}

.back-card {
  display: grid;
  grid-template-areas: 
    "bar-back bar-back bar-back bar-back"
    "cvv-back cvv-back cvv-back cvv-back"
    ". . . card-type";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33% 33% 33%;
  height: 100%;
  width: 100%;
  color: white;
  z-index: 2;
  transform: rotateY(180deg)
}

#bar-back {
  grid-area: bar-back;
  background-color: black;
  width: auto;
  height: 40%;
  border: 0;
  margin-top: 20px;
}

#cvv-back {
  grid-area: cvv-back;
  border: 0;
}

.cvv-back-title {
  float: right;
}

.cvv-back-input-box {
  background-color: white;
  width: 100%;
  height: 80%;
  line-height: 45px;
  margin-top: 20px;
  color: black;
  border-radius: 5px;
  text-align: right;

}


#card-type > img {
  margin-top: 15px;
}

.formContainer {
  height:66%;
}

.form  {
  display: grid;
  grid-template-areas: 
    "number number number number"
    "name name name name"
    "month year . cvv"
    "button button button button";
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  height: 100%;
}


.numberBar {
  display: block;
  width: 97%;
  height: 60%;
  border-radius: 5px;
}

.nameBar {
  display: block;
  width: 97%;
  height: 60%;
  border-radius: 5px;
}

.monthBar {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.yearBar {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.cvvBar {
  display: block;
  width: 91%;  
  height: 55%;
  border-radius: 5px;
}

#form-number {
  grid-area: number;
  border: 0;
}

#form-name {
  grid-area: name;
  border: 0;
}

#form-month {
  grid-area: month;
  border: 0;
}

#form-year {
  grid-area: year;
  border: 0;
}

select {
  width: 100%;
  padding: 5px 80px 5px 5px;
  height: 64%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px
  /* background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #EEE; */
}


#form-cvv {
  grid-area: cvv;
  border: 0;
}

#button {
  grid-area: button;
  display:grid;
  height: 100%;
  border: 0;
}

.submit {
  background-color: #00BFFF;
  font-weight: bold;
  padding: 15px 180px;
  color: #ffffff;
  border-radius: 5px;
  margin: auto;
  font-size: 15px;
}






