html, body {
  height: 100%;
  background-color: #ddeefc;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;

}

.container {
  background-color: white;
  width: 50%;
  height: 50%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.container > div {
  width: 100%;
  text-align: center;
  /* line-height: 75px; */
}

.card {
  height: 33%;
}


.formContainer {
  height:66%;
}

.form  {
  display: grid;
  grid-template-areas: 
    "number number number number"
    "name name name name"
    "month year . cvv"
    "button button button button";
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  height: 100%;
}

.form label {
  display: block;
}

#number {
  grid-area: number;
}

#name {
  grid-area: name;

}

#month {
  grid-area: month;
}

#year {
  grid-area: year;
}

#cvv {
  grid-area: cvv;

}

#button {
  grid-area: button;
}

.submit {
  background-color: #00BFFF;
  font-weight: bold;
  padding: 15px 150px;
  color: #ffffff;
  border-radius: 20px;
}




